# Secret key
SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="True"

# Comma Separated Values
ALLOWED_HOSTS=""

# Database configs
DB_ENGINE="django.db.backends.xxxx"
DB_NAME="CHANGE-ME"
DB_USER="CHANGE-ME"
DB_PASSWORD="CHANGE-ME"
DB_HOST="CHANGE-ME"
DB_PORT="CHANGE-ME"
